@model PcBuildAddViewModel
@{
    ViewData["Title"] = "Add";
}
@Html.AntiForgeryToken();
<div class="form-container">
    <h2>PC part toevoegen</h2>
    <form asp-action="AddPcPart" enctype="multipart/form-data" class="form-wrapper" method="post">
        <p>Naam:</p>
        <input asp-for="@Model.PcPart._Name" type="text" class="form-control"/>
        <br/>
        <p >Type:</p>
        <div class="form-select">
            <select asp-for="@Model.PcPart._Type" asp-items="@Model.AllTypes">
            </select>
        </div>
        <br/>
        <p>Informatie:</p>
        <input asp-for="@Model.PcPart.Information" type="text" class="form-control"/>
        <br/>
        <p>Eigenschappen:</p>
        <div class="form-select" id="MultipleSelect">
            <select asp-for="@Model.Properties" asp-items="@Model.AllProperties" multiple="multiple">
                <!--You can ad some optgroups on the hand of the prop types-->
            </select>
        </div>
        <br/>
        <p>Afbeelding:</p>
        <input asp-for="@Model.PcPart.Image" type="file"/><!--class="inputfile inputfile-1"-->
        
        <br/>
        <button class="btn btn-1 btn-1e" type="submit">
            <span>Add</span>
        </button>
    </form>
</div>