@using KillerApp.Domain
@model PcBuildDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<div class="navbar navbar-inverse">
    <div class="second-nav">
        <h2>@Model.Build._Name - @Model.Build.Likes LIKE(S) AND @Model.Build.Dislikes DISLIKE(S)</h2>
    </div>
</div>
<div class="container-fluid detail-container">
    <div class="row">
        <div class="detail-image col-sm-6">
            <img src="~/images/PCStockImage1.jpg"/>
        </div>
        <div class="detail-info-container col-sm-6">
            <div class="pcspec-container">
                <h3>PC Specificaties:</h3>
                    @foreach (PcPart buildPartName in @Model.Build.PartNames)
                    {
                        <p>@buildPartName._Name: @buildPartName.Information</p>
                    }
            </div>
            <div class="detail-info-footer">
                <form asp-action="LikeSubmit" asp-route-buildId="@Model.Build.ID" method="post">
                    <button class="btn btn-1 btn-1f"><span>LIKE<span class="glyphicon glyphicon-heart likebtn-span"></span></span></button>
                </form>
                <form asp-action="DislikeSubmit" asp-route-buildId="@Model.Build.ID" method="post">
                    <button class="btn btn-1 btn-1f"><span>DISLIKE<span class="glyphicon glyphicon-heart likebtn-span"></span></span></button>
                </form>
                <h3>MEER BUILDS VAN PERSOON</h3>
            </div>
        </div>
    </div>
</div>