@using KillerApp.Domain
@model PcBuildDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<div class="navbar navbar-inverse">
    <div class="second-nav">
        <h2>@Model.Build._Name - @Model.Build.Likes LIKE(S) AND @Model.Build.Dislikes DISLIKE(S)</h2>
    </div>
</div>
<div class="container-fluid detail-container">
    <div class="row">
        <div class="detail-image col-sm-6">
            <img src="~/images/PCStockImage1.jpg"/>
        </div>
        <div class="detail-info-container col-sm-6">
            <div class="pcspec-container">
                <h3>PC Specificaties:</h3>
                @foreach (PcPart buildPartName in @Model.Build.PartNames)
                {
                    <p>@buildPartName._Name</p>
                }
                <p></p>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="detail-info-footer">
                    <form controller-adres="/PCBuild/ChangeLikeStatus" id="AjaxForm" method="post">
                        <input type="hidden" asp-for="Build.Id" value="@Model.Build.Id" />
                        <div class="col-sm-6">
                            @if (@Model.Liked)
                            {
                                <button id="likeBtn" class="btn btn-1 btn-1f btn-clicked btn-small"><span>LIKE<span class="glyphicon glyphicon-heart likebtn-span"></span></span></button>
                            }
                            else
                            {
                                <button id="likeBtn" class="btn btn-1 btn-1f btn-small"><span>LIKE<span class="glyphicon glyphicon-heart likebtn-span"></span></span></button>
                            }
                        </div>
                        <div class="col-sm-6">
                            @if (@Model.Disliked)
                            {
                                <button id="dislikeBtn" class="btn btn-1 btn-1g btn-clicked btn-small"><span>DISLIKE<span class="glyphicon glyphicon-remove dislikebtn-span"></span></span></button>
                            }
                            else
                            {
                                <button id="dislikeBtn" class="btn btn-1 btn-1g btn-small"><span>DISLIKE<span class="glyphicon glyphicon-remove dislikebtn-span"></span></span></button>
                            }
                        </div>
                    </form>
                </div>
            }
            <div class="share-container">
                <h3>Share deze build:</h3>
                <iframe
                    src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=@Url.Link("default", new {action = "Detail", buildId = Model.Build.Id})&via=MDProductions&related=twitterapi%2Ctwitter&text=Check deze build genaamd @Model.Build._Name van @Model.Account.UserName: &hashtags=build%2Cpc"
                    width="140"
                    height="28"
                    title="Twitter Tweet Button"
                    style="border: 0; overflow: hidden;">
                </iframe>
                <iframe
                    src="https://www.facebook.com/plugins/share_button.php?href=@Url.Link("default", new {action = "Detail", buildId = Model.Build.Id})&layout=button_count&size=large&mobile_iframe=true&width=105&height=28&appId"
                    width="105"
                    height="28"
                    style="border: none; overflow: hidden"
                    scrolling="no"
                    frameborder="0"
                    allowTransparency="true"
                    allow="encrypted-media">
                </iframe>
            </div>
        </div>
    </div>
</div>